.skel {
  border-radius: 15px !important;
}
.skelDisc {
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between !important;
}

.title__skel {
  border-radius: 15px !important;
}

.rate__skel {
  border-radius: 15px !important;
}

.loader {
  padding-left: 30px;
  margin-bottom: 20px;
}
